.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  margin: 1rem 0;
}
