.menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
  border-bottom: 1px solid #000;

  a,
  button {
    padding: 0;
    border: none;
    transition: all 0.2s ease-in-out;
  }
}
