.form {
  p:first-of-type {
    text-align: center;
  }

  input {
    display: inline-block;
    width: 100%;
    border: 1px solid #000;
    padding: 0.5em;
  }

  *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .error {
    color: red;
  }
}
